*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%; // 10/16px = 62.5%, 10px= 1rem
    // @media only screen and (max-width: $bp-medium) {
    //     font-size: 50%;
    // }
}
body {
    box-sizing: border-box;
    font-weight: $weight-400;
    line-height: 1.6;
    background-color: $color-white;
    font-size: $font-16;
    font-family: $font-primary;
}
.container {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns:
        minmax(.1rem, 1fr) [sidebar-start] 6rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start]
        repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end] minmax(.1rem, 1fr);

    @media only screen and (max-width: $bp-small) {
        grid-template-rows: repeat(6, min-content);
        grid-template-columns:
            [full-start] minmax(6rem, 1fr) [center-start]
            repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
        grid-gap: 1rem;
        padding: 1rem;
    }
}
