// BUTTONS
.btn {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 1rem 2.4rem;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
    font-size: $font-16;
    background-color: $color-green;
    color: $color-white;
    outline: none;
    border: none;
    &:hover {
        background-color: $color-green-light;
        cursor: pointer;
    }
}

// Link
.link {
    display: grid;
    align-self: center;
    justify-self: center;
    font-size: $font-14;
    font-weight: $weight-600;
    color: $color-green-light;
    text-decoration: none;
    text-transform: capitalize;
}

// SVG ICONS
%icon {
    width: 2.4rem;
    height: 2.4rem;
}
.notification,
.presentation,
.global,
.lock,
.search,
.hut {
    @extend %icon;
    fill: $color-999;
}
// .presentation {
//     @extend %icon;
//     fill: $color-999;
// }
// .global {
//     @extend %icon;
//     fill: $color-999;
// }
// .lock {
//     @extend %icon;
//     fill: $color-999;
// }
// .search {
//     @extend %icon;
//     fill: $color-999;
// }
// .hut {
//     @extend %icon;
//     fill: $color-999;
// }
