.homes {
    grid-column: center-start / col-end 5;
    @media only screen and (max-width: $bp-large) {
        grid-column: full-start / full-end;
        padding: 1rem 0;
    }
}

.home {
    &__tabs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border: 1px solid rgba($color-black, 0.2);
        text-transform: capitalize;
        margin-bottom: 2rem;
    }
    &__tab {
        padding: 1rem;
        width: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
        &--active {
            background-color: $color-222;
            p {
                color: $color-white;
            }
        }
    }
    &__dropdown {
        display: grid;
        grid-template-columns: 1fr;
    }
    &__select {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    &__option {
        color: $color-777;
        padding: 1rem;
        border: 1px solid rgba($color-black, 0.2);
        font-size: $font-16;
        &:hover {
            cursor: pointer;
        }
    }
}
