// PROGRESS LINE BAR
.barline > span {
    position: relative;
    display: flex;
    left: 0.1rem;
    background-color: $color-blue-lighter;
    height: 0.4rem;
    top: 1rem;
}
.barline {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 100%;
}
.bar-input {
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: -999.9rem;
    left: -999.9rem;
}
.bar-view {
    display: flex;
    flex-grow: 1;
    position: relative;
}
.bar-view:not(:last-child):before,
.bar-view:not(:last-child):after {
    content: "";
    width: 100%;
    position: absolute;
}
.bar-view:not(:last-child):before {
    height: 0.4rem;
    top: 1rem;
    background: $color-eee;
}

.bar-button {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: $color-white;
    position: relative;
    cursor: pointer;
    z-index: 5;
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1);
}

// CIRCLE PROGRESS BAR
.set-size {
    font-size: 7rem;
}

.charts-container:after {
    clear: both;
    content: "";
    display: table;
}

.pie-wrapper {
    height: 1em;
    width: 1em;
    float: left;
    margin: 1rem;
    position: relative;
}
.pie-wrapper:nth-child(3n + 1) {
    clear: both;
}
.pie-wrapper .pie {
    height: 100%;
    width: 100%;
    clip: rect(0, 1em, 1em, 0.5em);
    left: 0;
    position: absolute;
    top: 0;
}
.pie-wrapper .pie .half-circle {
    height: 100%;
    width: 100%;
    border: 0.6rem solid #1abc9c;
    border-radius: 50%;
    clip: rect(0, 0.5em, 1em, 0);
    left: 0;
    position: absolute;
    top: 0;
}
.pie-wrapper .label {
    border-radius: 50%;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: 2rem;
    left: 0.4em;
    line-height: 2.8em;
    position: absolute;
    right: 0.4em;
    text-align: center;
    top: 0.6rem;
}
.pie-wrapper .label .smaller {
    color: bolder;
    font-size: 1rem;
    padding-bottom: 20px;
    vertical-align: super;
}
.pie-wrapper .shadow {
    height: 100%;
    width: 100%;
    border: 0.05em solid rgba(26, 188, 156, 0.3);
    border-radius: 50%;
}
.pie-wrapper.style-2 .label {
    font-weight: bolder;
    color: $color-black;
}
.pie-wrapper.progress-45 .pie .left-side {
    transform: rotate(162deg);
}
.pie-wrapper.progress-45 .pie .right-side {
    display: none;
}
