.sidebars {
    grid-column: col-end 6 / full-end;
    @media only screen and (max-width: $bp-large) {
        grid-column: full-start / full-end;
    }
}

.sidebar {
    display: grid;
    grid-row-gap: 3rem;
    align-items: center;
    justify-content: start;
    margin: 4rem 0;
    padding: 3rem;
    @media only screen and (max-width: $bp-small) {
        padding: 2rem 1rem;
    }
}
