.sidebars {
    grid-column: col-end 6 / full-end;
    @media only screen and (max-width: $bp-large) {
        grid-column: full-start / full-end;
    }
}

.sidebar {
    display: grid;
    grid-row-gap: 7rem;
    align-items: center;
    justify-content: start;
    margin: 4rem 0;
    @media only screen and (max-width: $bp-small) {
        padding: 2rem 1rem;
    }
    &__table-3{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 3rem;
        grid-row-gap: 1rem;
        justify-items: start;
    }
    &__table-2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 3rem;
        grid-row-gap: 1rem;
        justify-items: start;
    }
}
